<div *ngIf="hero">
    <div><h2>{{hero.name | uppercase}} Details</h2></div>
    <div><span>Hero id: {{hero.id}}</span></div>
    <div>
        <label>Name:
            <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>

